.PasswordGenerator{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    border: 1px solid;
    padding: 2em;
}

h1,p,.checklists,.ClipBoard, .PasswordGenerator > button{
    margin-top: 1em;
}

