.Header{
    width: 100%;
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: rgba(0,0,1,0.4);
}

h1{
  font-size: 1.5em;
}

ol{
  list-style: none;
  display: flex;
  column-gap: 10px;
  place-items: center;
  font-weight: bold;
}

a{
  text-decoration: none;
  color: black;
}