.Header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid;
}

.Header > h1 {
  margin: 0;
  padding: 5px; 
  font-size: 1.5rem;
  color: #333;
  letter-spacing: 1px;

}

ol {
  display: flex;
  list-style: none;
  column-gap: 20px;
  place-items: center;
}

.Links {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
  transition: color 0.3s ease;
}

.Links:hover {
  color: #0056b3; 
}



