.Product-item {
  border: 1px solid;
  padding: 1em;
}

h2{
  font-size: 1.4em;
}

p{
  font-size: 1.2em;
}

img {
  height: inherit;
  width: 100%;
}

button {
  min-width: 120px;
  height: 2.5em;
  border-radius: 10px;
  border: .5px solid;
  background-color: lightcoral;
  color: white;
}

h1,
p,
button {
  margin-top: 1em;
}
