.FilterTable{
    height: 100vh;
    margin-top: 5em;
    max-width: 900px;
}
h1,.SearchBar,hr, table{
    margin-bottom: 1em;
}

h1{
    text-align: center;
    font-size: 3em;
}

table{
    border: 1px solid;
    padding: 1em;
    border-collapse: collapse;
}

td,th{
    border: 1px solid;
    padding: 1em;
}

label{
    font-size: 1.1em;
    font-weight: bold;
    margin-right: 1em;
}

input{
    border-radius: 1em;
    padding: .7em;
    outline: none;
}