.NavBar {
  height: 100vh;
  width: 100vw;
  background-image: url("bg-blue.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.LayOut {
  border: 1px solid;
  display: flex;
  justify-content: space-between;
  padding: 0 0.8em;
}

.LayOut > h1 {
  font-size: 1.5em;
}

.LayOut > h1 , a{
  padding: 0.8em;
}

ul {
  list-style: none;
  display: flex;
  width: 50%;
  gap: 10px;
}

li {
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
  align-self: center;
  font-weight: bold;
}

li > a {
  text-decoration: none;
  color: black;
}

a{
  height: 100%;
  width: 100%;
  border-radius: 1em ;
}

a:hover{
  background-color: aliceblue;
}
.Menu {
  width: 1.8em;
  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
  cursor: pointer;
}

.Menu > i {
  width: 100%;
  height: 6px;
  background-color: black;
  border-radius: 1em;
}

.Content {
  min-height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
}

.Content > h1 {
  font-size: 2em;
}

@media only screen and (max-width: 420px) {
  .Menu {
    display: flex;
  }

  ul {
    display: block;
    position: absolute;
    top: 56px;
    right: -100%;
    opacity: 0; 
    transition: right 1s ease-in-out, opacity 1s ease-in-out; 
  }

  li {
    padding: 1em;
    border: 1px solid;
  }

  .Menu > i {
    display: block;
  }

  .Visible {
    opacity: 1;
    right: 0;
  }
}
