.Calender{
    border: 1px solid;
    padding: .5em;
    background-color: rgb(115, 156, 218);
}

.Header{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-bottom: 1em;
}

.Day{
    flex: 1;
    text-align: center;
    background-color: white;
}

.Dates{
    display:grid;
    grid-template-columns: repeat(7,1fr);
    border: 1px solid;
    gap: 10px;
    background-color: white;
}


.Date{
    border: 1px solid;
    text-align: center;
}

.Dates{
    padding: 0.7em;
}

.Date, .Day{
    padding: .4em;
}

.Today{
    background-color: orange;
}

select{
    border-radius: 1em;
    padding: .5em;
}

button{
    width: 2.5em;
    border-radius: 50%;
    border-style: none;
    cursor: pointer;
}

#left{
    background: url(./icons/left.svg) no-repeat center/cover;
}

#right{
    background: url(./icons/right.svg) no-repeat center/cover;
}