.Calender{
    border: 1px solid;
    padding: .5em;
    background-color: rgb(115, 156, 218);
}

.Header{
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.Days{
    display: flex;
    gap: 10px;
}

.Days > div{
    margin: .5em;
    flex: 1;
    flex-basis: 0;
    text-align: center;
}

select{
    border-radius: 1em;
    padding: .5em;
}

button{
    width: 2.5em;
    border-radius: 50%;
}

#left{
    background: url(./icons/left.svg) no-repeat center/cover;
}

#right{
    background: url(./icons/right.svg) no-repeat center/cover;
}